{% extends 'base.html' %}
{% load static %}

<title>Dashboard - Cyber Justitia</title>
<!-- TODO: add styles and HTML in styles and content blocks -->


<title>Dashboard - Cyber Justitia</title>

{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: black;">{{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}

<div class="container">
    <h2>Update Details</h2>
    <form method="POST" action="{% url 'dashboard' %}">
        {% csrf_token %}
        {{  update_details_form.as_p }}
        <button type="submit" class="btn btn-primary" name="update_details">Update</button>
    </form>
</div>
{% endblock %}