{% extends "base.html" %}
{% load static %}

<title>User Profile - Cyber Justitia</title>

{% block styles %}
<link rel="stylesheet" href="{% static 'users/css/user_profile.css' %}">
{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col">
        <div class="main-box {% if user.is_professional %}professional{% endif %}{% if user.is_superuser %}admin{% endif %}" style="border-radius: 6px 6px 0px 0px; width: 75vw; background-color: #FCD6DD">
            <p {% if user.is_professional %}class="professional"{% endif %} {% if user.is_superuser %}class="admin-text"{% endif %} style="font-size: 3em; color: black;">{{ first_name }} {{ last_name }}</p>
        <div class="email-container">
            <span><img style="padding-bottom: 1%" {% if user.is_superuser %} src="{% static 'mail.svg'%}" {% else %} src="{% static 'mail_dark.svg'%}" {% endif %}></span>
            <a {% if user.is_professional %}class="professional"{% endif %} {% if user.is_superuser %}class="admin-text"{% endif %}href="mailto:{{ email }}">{{ email }}</a>
        </div>
        <div class="line-sep" {% if user.is_superuser %}style="filter: invert(100%)"{% endif %}></div>
        {% if user.is_superuser %}
            <form action="/admin_dashboard" style="text-align: right">
                <input id="gotodash" type="submit" value="Admin" class="btn btn-primary btn-lg">
            </form>
        {% endif %}
        </div>
        <div class="main-box {% if user.is_superuser %}admin-secondary{% endif %}" style="border-radius: 0px 0px 6px 6px; width: 75vw;">
            <h3 style="color: black; font-weight: bold; {% if user.is_superuser %}filter: invert(100%);{% endif %}">Description</h3>
            <p style="color: #3D3D3D {% if not user.is_superuser %}filter: invert(100%);{% endif %}">{{ description }}</p>
            {% if description == None %}
                <p style="color: #3D3D3D; font-style: italic; {% if user.is_superuser %}filter: invert(100%);{% endif %}">There is no description.</p>
            {% endif %}
            
            <!-- TODO: Implement and display credentials for professionals -->
            {% if user.is_professional %}
                <h3 style="color: black; font-weight: bold;">Qualifications</h3>
                    <p style="color: black;">{{ user.qualifications }}</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="row" style="padding: 2%;">
    <div class="col">
        <div class="main-box post-comment-box" style="width: 34.7vw; {% if user.is_superuser %}filter: invert(100%);{% endif %}">
            <h3 {% if user.is_superuser %}style="filter: invert(100%);"{% endif %}><b>Recent posts</b></h3>
            <div style="max-width: 90%; {% if user.is_superuser %}filter: invert(100%);{% endif %}" class="line-sep"></div>
            {% for post in recent_posts %}
                <!-- or if current_user.id == user_id  -->
                {% if not user.is_superuser %}
                <!-- Add actual delete functionality here -->
                    <img src="{% static 'backspace.svg' %}" style="max-width: 2rem" class="top-right-icon">
                {% endif %}
                <h3 {% if user.is_superuser %}style="filter: invert(100%);"{% endif %}>{{ post.title }}</h3>
                <p {% if user.is_superuser %}style="filter: invert(100%);"{% endif %}>{{ post.text }}</p>
            </div>
            {% empty %}
            <br>
                <p style="color: #3D3D3D; font-style: italic; {% if user.is_superuser %}filter: invert(100%);{% endif %}">No recent posts.</p>
            {% endfor %}
        </div>
        <br>
    </div>
    <div class="col">
        <div class="main-box post-comment-box" style="width: 34.7vw;">
            <h3 {% if user.is_superuser %}style="filter: invert(100%);"{% endif %}><b>Recent comments</b></h3>
            <div style="max-width: 90%" class="line-sep"></div>
            {% for comment in recent_comments %}
                <div>
                    <h3 {% if user.is_superuser %}style="filter: invert(100%);"{% endif %}>{{ comment.question }}</h3>
                    <p {% if user.is_superuser %}style="filter: invert(100%);"{% endif %}>{{ comment.content }}</p>
                </div>
            {% empty %}
            <br>
                <p style="color: #3D3D3D; font-style: italic; {% if user.is_superuser %}filter: invert(100%);{% endif %}">No recent comments.</p>
            {% endfor %}
            
        </div>
        <br>
    </div>
</div>
<br>

{% endblock %}

