{% extends "base.html" %}
{% load static %}

<title>User Profile - Cyber Justitia</title>

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/user_profile.css' %}">
{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <div class="col">
            <div class="main-box {% if viewed_user.is_professional %}professional{% endif %}{% if viewed_user.is_superuser %}admin{% endif %}"
                 style="border-radius: 6px 6px 0px 0px; width: 75vw; background-color: #FCD6DD">
                <p {% if viewed_user.is_professional %}class="professional"{% endif %}
                   {% if viewed_user.is_superuser %}class="admin-text"{% endif %}
                   style="font-size: 3em; color: black;">{{ viewed_user.first_name }} {{ viewed_user.last_name }}</p>
                <div class="email-container">
                    <span><img style="padding-bottom: 1%" {% if viewed_user.is_superuser %}
                               src="{% static 'mail.svg' %}" {% else %} src="{% static 'mail_dark.svg' %}" {% endif %}></span>
                    <a {% if viewed_user.is_professional %}class="professional"{% endif %}
                       {% if viewed_user.is_superuser %}class="admin-text" {% endif %}
                       href="mailto:{{ viewed_user.email }}">{{ viewed_user.email }}</a>
                </div>
                <div class="line-sep" {% if viewed_user.is_superuser %}style="filter: invert(100%)"{% endif %}></div>
                {% if user.is_superuser %}
                    <form action="/admin" style="text-align: right">
                        <input id="gotodash" type="submit" value="Admin" class="btn btn-primary btn-lg">
                    </form>
                {% endif %}
            </div>
            <div class="main-box {% if viewed_user.is_superuser %}admin-secondary{% endif %}"
                 style="border-radius: 0px 0px 6px 6px; width: 75vw;">
                <h3 style="color: black; font-weight: bold; {% if user.is_superuser %}filter: invert(100%);{% endif %}">
                    Description</h3>
                <p style="color: #3D3D3D {% if not user.is_superuser %}filter: invert(100%);{% endif %}">{{ viewed_user.description }}</p>
                {% if viewed_user.description == None %}
                    <p style="color: #3D3D3D; font-style: italic; {% if user.is_superuser %}filter: invert(100%);{% endif %}">
                        There is no description.</p>
                {% endif %}

                <!-- TODO: Implement and display credentials for professionals -->
                {#            {% if user.is_professional %}#}
                {#                <h3 style="color: black; font-weight: bold;">Qualifications</h3>#}
                {#                    <p style="color: black;">{{ user.qualifications }}</p>#}
                {#            {% endif %}#}
            </div>
        </div>
    </div>

    <div class="row" style="padding: 2%;">
        <div class="col">
            <div class="main-box post-comment-box"
                 style="width: 34.7vw; {% if user.is_superuser %}filter: invert(100%);{% endif %}">
                <h3 {% if viewed_user.is_superuser %}style="filter: invert(100%);"{% endif %}><b>Recent posts</b></h3>
                <div style="max-width: 90%; {% if user.is_superuser %}filter: invert(100%);{% endif %}"
                     class="line-sep"></div>
                {% for post in recent_posts %}
                    <div>
                        <!-- TODO: fix all 3 backspaces appearing in right location, currently overlapping I think -->
                        {% if user.is_authenticated and user.username == post.user.username or user.is_staff %}
                            <a href="{% url 'delete_post' post.slug %}" class="delete-post">
                                <img src="{% static 'backspace.svg' %}" alt="backspace" class="backspace top-right-icon"
                                     style="max-width: 2rem">
                            </a>
                        {% endif %}
                        <h3 {% if viewed_user.is_superuser %}style="filter: invert(100%);"{% endif %}>{{ post.title }}</h3>
                        <p {% if viewed_user.is_superuser %}style="filter: invert(100%);"{% endif %}>{{ post.text }}</p>
                    </div>
                    {% empty %}
                    <br>
                    <p style="color: #3D3D3D; font-style: italic; {% if user.is_superuser %}filter: invert(100%);{% endif %}">
                        No recent posts.</p>
                {% endfor %}
            </div>
            <br>
        </div>
        <div class="col">
            <div class="main-box post-comment-box" style="width: 34.7vw;">
                <h3 {% if viewed_user.is_superuser %}style="filter: invert(100%);"{% endif %}><b>Recent comments</b>
                </h3>
                <div style="max-width: 90%" class="line-sep"></div>
                {% for comment in recent_comments %}
                    <div>
                        {% if user.is_authenticated and user == comment.user or user.is_staff %}
                            <a href="{% url 'delete_comment' comment.post.slug comment.comment_id %}"
                               class="delete-post">
                                <img src="{% static 'backspace.svg' %}" alt="backspace" class="backspace top-right-icon"
                                     style="max-width: 2rem">
                            </a>
                        {% endif %}
                        <h3 {% if viewed_user.is_superuser %}style="filter: invert(100%);"{% endif %}>{{ comment.post.title }}</h3>
                        <p {% if viewed_user.is_superuser %}style="filter: invert(100%);"{% endif %}>{{ comment.text }}</p>
                    </div>
                    {% empty %}
                    <br>
                    <p style="color: #3D3D3D; font-style: italic; {% if user.is_superuser %}filter: invert(100%);{% endif %}">
                        No recent comments.</p>
                {% endfor %}

            </div>
            <br>
        </div>
    </div>
    <br>

{% endblock %}

