{% extends "base.html" %}
<title>Dashboard - Cyber Justitia</title>

{% block content %}
    <form action="/user_profile" method="get">
        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">Last name:</label><br>
         <input type="text" id="last_name" name="last_name"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="save">
    </form>
    <form action="/user_profile" method="post">
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        <input type="submit" value="save">
    </form>
    <form action="/user_profile" method="get">
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br><br>
        <input type="submit" value="save">
    </form>
    <form action="/user_profile" method="get">
        <input type="checkbox" id="delete" name="delete" required>
        <label for="delete"> Are you sure you want to delete your account? Your profile and all of your posts will no longer be viewable</label><br>
        <input type="submit" value="delete">
    </form>
    {% if user.is_admin %}
    <h3>Access administrator features (visible to admins only)</h3>
        <form action="/admin_dashboard">
            <input type="submit" value="Go to Dashboard">
        </form>
    {% endif %}
    {%if user.is_professional %}
        <form action="/user_profile" method="get">
            <label for="flair">Headline flair (visible to professionals only):</label><br>
                <input type="text" id="flair" name="flair"><br><br>
            <input type="submit" value="save">
        </form>
    {% endif %}
     {% if user.is_proffesional %}
        <form action="/user_profile" method="get">
            <label for="school">School:</label><br>
                <input type="text" id="" name="school"><br>
            <label for="degree">Degree Title:</label><br>
                <input type="text" id="" name="degree"><br>
            <label for="began">Began:</label><br>
                <input type="date" id="" name="began"><br>
            <label for="ended">Ended:</label><br>
                <input type="date" id="" name="ended"><br>
            <input type="submit" value="save">
        </form>
        <form action="/user_profile" method="get">
            <label for="position">Position:</label><br>
                <input type="text" id="" name="position"><br>
            <label for="company">Company:</label><br>
                <input type="text" id="" name="company"><br>
            <label for="began">Began:</label><br>
                <input type="date" id="" name="began"><br>
            <label for="ended">Ended:</label><br>
                <input type="date" id="" name="ended"><br>
                <input type="checkbox" id="inprogress" name="inprogress">
                    <label for="inprogress" > In Progress</label><br>
                <input type="submit" value="save">
        </form>
    {% endif %}
{% endblock %}
