.comment-professional-flair {
    color: #79216D;
    font-size: 12pt;
    font-style: italic;
    margin-top: -20px;
}

.comment-professional-name {
    color: #B72FA6;
    font-size: 12pt;
    text-decoration: underline;
}

.backspace {
    width: 2rem;
    height: 2rem;
    position: relative;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: relative;
}