.comment-professional-flair {
    color: #79216D;
    font-size: 12pt;
    font-style: italic;
    margin-top: -20px;
}

.comment-professional-name {
    color: #B72FA6;
    font-size: 12pt;
    text-decoration: underline;
}