{% extends "base.html" %}
{% load static %}

{% block styles %}
    <!-- Imports md-block for markdown rendering in HTML -->
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>

{% endblock %}

{% block content %}
<br>
<br>
        <div class="row" style="padding-bottom: 2%">
            <div class="col">
                <div class="secondary-box" style="width: 869px;">
                    <h1 style="color: white">⚠️ DISCLAIMER! ⚠️</h1>
                    <p>Our AI chatbot can <b>NOT</b> replace the advice of an actual legal professional, so if you plan on taking serious legal action, <i>consult a real legal professional first</i> before proceeding.</p>
                    <p>One way you can do this is by checking out our <a href="{%  url '/forums' %}">Forums</a> where you can ask real legal professionals advice on your case and reach out to them if further legal action is necessary.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-8" style="width: 196px; padding-left: 2%;">
                <div class="session-box">
                    <h1 style="font-size: 22pt; padding-top: 2%;">Sessions</h1>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action"
                        style="background-color: #FCD6DD; color: #3d3d3d; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Is it illegal to throw</a>
                        <a href="#" class="list-group-item list-group-item-action"
                        style="background-color: #FDEFF2; color: #3d3d3d; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">How much money do I owe the</a>
                      </div>
                </div>
            </div>
            <div class="col-12 col-md-2" style="width: 680px;">
                <div class="main-box" style="padding-top: 3%;">
                    <!-- TODO: Add chatbot functionality here -->
                    <!-- TODO: Fix speech bubble placement in CSS -->
                    <div class="bot-speech">yo</div>
                    <div class="user-speech" style="float: flex-end;">what's good</div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" placeholder="Type your message here..." class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <div class="input-group-append">
                            <button class="btn" type="button"><img src="{%  static 'sendmes.svg' %}"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}