{% extends "base.html" %}
{% load static %}
{% load hitcount_tags %}

<title>{{ post.title|title }} - Cyber Justitia</title>

{% block styles %}
    <link rel="stylesheet" href="{% static 'forum/css/postpage.css' %}">
{% endblock %}

{% block content %}
    <div class="main-box" style="text-indent: 8%; margin-bottom: 1rem">
        <h2 style="color: black">{{ post.title|title }}</h2>
        <p style="color: #3d3d3d">Post by {{ post.user.first_name }} {{ post.user.last_name }} •
            on {{ post.created_at|date }} • (Read {% get_hit_count for post %} times)</p>
        <p style="color: black">{{ post.text|safe }}</p>
    </div>

    <div class="row align-items-start" style="padding-bottom: 3%;">
        <div class="col">
            <button type="button" class="btn btn-primary" onclick="addCommentForm()">+ Add comment</button>
        </div>
    </div>
    <div class="main-box" id="comment-box" style="width: 44vw; display: none; margin-bottom: 2rem">
        <div id="comment-form-template" style="display: none;">
            <form method="POST" action="{% url 'create_comment' post.slug %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <textarea id="{{ comment_form.comment.id_for_label }}"
                            name="{{ comment_form.comment.html_name }}"
                            class="form-control" placeholder="Enter your comment here..."
                            aria-label="comment-body" aria-describedby="basic-addon1" required></textarea>
                </div>
                <button id="submit-comment" type="submit" class="btn btn-success">Submit Comment</button>
                <button id="cancel-comment" type="button" class="btn btn-secondary" onclick="removeForm(this)">Cancel</button>
            </form>
        </div>
        <div id="comment-container"></div>
    </div>
        {% for comment in comments %}
            <div class="main-box" style="background-color: #FCD6DD; margin-bottom: 1.5rem;">
            <!-- TODO: Add upvote/downvote-->
                <p style="color: #3d3d3d;">Comment by {{ comment.user.first_name }} {{ comment.user.last_name }} •
                    on {{ comment.created_at|date }}</p>
                    <!-- If user is professional, display flair -->
                    {% if comment.user.is_professional %}
                        <p class="comment-professional">{{ comment.user.flair }}</p>
                    {% endif %}
                <p style="color: black; font-size: 12pt">{{ comment.text|safe }}</p>
            </div>
        {% endfor %}
    </div>

    {#        <div id="comment1" class="main-box" style="background-color: #FCD6DD">#}
    {#            <!-- TODO: Add upvote/downvote-->#}
    {#            <!-- TODO: If user == professional, display headline flair and make username color #B72FA6 -->#}
    {#            <p style="color: #3d3d3d;">Post by {{ user.username }} • on {{ post.created_at }}</p>#}
    {#            <p style="color: black; font-size: 12pt">{{comment}}</p>#}
    {#        </div>#}
    {##}
    {#        <div id="comment2" class="main-box">#}
    {#            <!-- TODO: Add upvote/downvote-->#}
    {#            <!-- TODO: If user == professional, display headline flair and make username color #B72FA6 -->#}
    {#            <p style="color: #3d3d3d; ;">Post by {{ user.username }} • on {{ post.created_at }}</p>#}
    {#            <p style="color: black; font-size: 12pt">{{comment}}</p>#}
    {#        </div>#}

    <script>
        function addCommentForm() {
            const commentBox = document.getElementById('comment-box');
            // Make commentbox visible
            commentBox.style.display = 'block';
            const existingForm = commentBox.querySelector('.cloned-comment-form');
            if (existingForm === null) {
                let template = document.getElementById('comment-form-template');
                if (template) {
                    let clone = template.cloneNode(true);
                    clone.style.display = 'block';
                    clone.removeAttribute('id');
                    clone.classList.add('cloned-comment-form');
        
                    let container = document.getElementById('comment-container');
                    container.appendChild(clone);
                } else {
                    // pass
                }
            }
        }
        
        function removeForm(button) {
            const form = button.closest('.cloned-comment-form');
            if (form) {
                form.remove();
            }
        }
        
        document.getElementById('submit-comment').onclick = function() {
            addCommentForm();
        };
    </script>
{% endblock %}