{% extends "base.html" %}
{% load static %}

{% load forum_extras %}

{% block styles %}
<link rel="stylesheet" href="{% static 'forum/css/forummainpage.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="button_leftarrow">
            <img src="{% static 'arrow.svg' %}" alt="button_leftarrow" class="button_leftarrow">
        </a>
        {% endif %}

        <h1>Posts</h1>
        <a href="{% url 'create_post' %}" class="button_addpost">+ Create new post</a>
        <form action="#"> <!-- TODO: Implement search functionality -->
            <img src="{% static 'admin/img/search.svg' %}" alt="Search" class="search_icon">
            <label>
                <input type="text" placeholder="Search...">
            </label>
        </form>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="button_rightarrow">
            <img src="{% static 'arrow.svg' %}" alt="button_rightarrow" class="button_rightarrow">
        </a>
        {% endif %}
    </div>

    <div class="posts">
        {% for post in page_obj %}
        <div class="post-container">
            <div class="vote-section">
                <button class="button_upvote">
                    <img src="{% static 'upvote.svg' %}" alt="upvote">
                </button>
                <button class="button_downvote">
                    <img src="{% static 'downvote.svg' %}" alt="downvote">
                </button>
            </div>
            <p class="upvote-count" id="upvote-count-1">{{ post.votes }}</p>
                <div class="post">
                    <!-- Position title left and backspace.svg right -->
                    <a href="{{ post.get_url }}">
                        <h2>{{ post.title|title }}</h2>
                        <p style="font-weight: bold;">{{ post.text|first_line }}</p>
                    </a>
                    {% if user.is_authenticated and user == post.user or user.is_authenticated %}
                    <a href="{% url 'delete_post' post.slug %}" class="delete-post">
                        <img src="{% static 'backspace.svg' %}" alt="backspace" class="backspace">
                    </a>
                    {% endif %}
                </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
    <!-- TODO: Customise styles for pagination -->
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
