{% extends "base.html" %}
{% load static %}
{% load forum_extras %}

{% block styles %}
<link rel="stylesheet" href="{%  static 'forum/css/forummainpage.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <a href="#" class="button_leftarrow">
            <!-- TODO: Implement CSS that greys out arrows when reaching first and last pages -->
            <img src="{% static 'arrow.svg' %}"alt="button_leftarrow" class="button_leftarrow">
        </a>
        <h1>Posts</h1>
        <a href="{% url 'create_post' %}" class="button_addpost">+ Create new post</a>
        <form action="#"> <!-- TODO: Implement search functionality -->
            <img src="{% static 'admin/img/search.svg' %}" alt="Search" class="search_icon">
            <label>
                <input type="text" placeholder="Search...">
            </label>
        </form>
        <a href="#" class="button_rightarrow">
            <img src="{% static 'arrow.svg' %}" alt="button_rightarrow" class="button_rightarrow">
        </a>
    </div>

    <div class="posts">
        {% for post in posts %}
        <div class="post-container">
            <div class="vote-section">
                <button class="button_upvote">
                    <img src="{% static 'upvote.svg' %}" alt="upvote">
                </button>
                <button class="button_downvote">
                    <img src="{% static 'downvote.svg' %}" alt="downvote">
                </button>
            </div>
            <p class="upvote-count" id="upvote-count-1">{{ post.votes }}</p>
            <a href="{{ post.get_url }}">
                <div class="post" >
                    <h2>{{ post.title|title }}</h2>
                    <p style="font-weight: bold;">{{ post.text|first_line }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}