{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-box" style="text-align: center">
    <h1>Create new post</h1>
    <br>
    <form method="POST" action="create-post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="background-color: white; width: 64px;"></span>
            <input type="text" class="form-control" placeholder="Title" aria-label="post-title" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="background-color: white; width: 64px; height: 4vh;"></span>
            <input type="text" class="form-control" placeholder="Body" aria-label="post-body" aria-describedby="basic-addon1">
        </div>

        <p style="color: black; text-align: center;">Please make sure your post follows our <a href="{% url '/codeofconduct' %}">code of conduct!</a></p>

        <button type="button submit" class="btn btn-primary" style="align-items: center;">Submit</button>
    </form>
</div>
{% endblock %}