{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main-box" style="text-align: center; margin-bottom: 5%; width: 70vw;">
        <h1>Create new post</h1>
        <br>
        <form method="POST" action="{% url 'create_post' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1" style="background-color: white; width: 64px;"></span>
                <input id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" class="form-control"
                       placeholder="Title" aria-label="post-title" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
            <textarea id="{{ form.text.id_for_label }}" name="{{ form.text.html_name }}"
                      class="form-control" placeholder="Enter your post here..."
                      aria-label="post-body" aria-describedby="basic-addon1" style="height: 40vh"></textarea>
                {% if form.text.errors %}
                    <div class="text-danger">
                        {{ form.text.errors }}
                    </div>
                {% endif %}
            </div>

            <p style="color: black; text-align: center;">Please make sure your post follows our <a
                    href="{% url 'codeofconduct' %}">code of conduct!</a></p>

            <button type="submit" class="btn btn-primary" style="align-items: center;">Submit</button>
        </form>
    </div>
{% endblock %}